.intro {
    padding-top: 50px;
    padding-bottom: 50px;
    p {
        font-size: 18px;
    }
    h2 {
        margin-bottom: 40px;
    }
    ul {
        margin-top: 40px;
        padding-left: 70px;
        border-left: 1px solid $base;
        margin-left: 15px;
        li {
            margin-bottom: 70px;
            position: relative;
            p {
                margin-bottom: 0;
            }
            &::after {
                content: "";
                position: absolute;
                width: 30px;
                height: 30px;
                background-color: $graphite;
                display: block;
                top: 0;
                left: -85px;
                border-radius: 2px;
            }
            &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: $contrast;
                display: block;
                top: 9px;
                left: -76px;
                border-radius: 2px;
                z-index: 99;
            }
            &:last-child {
                margin-bottom: 0;
            }
            
        }
        .passing-year {
            padding:5px 10px;
            background-color: $graphite;
            display: inline-block;
            font-size: 12px;
            border-radius: 2px;
            margin-bottom: 25px;
        }
        h4 {
            font-size: 16px;
            margin-bottom: 15px;
            span {
                font-weight: 400;
            }
        }
        p {
            font-size: 14px;
        }
    }
    .button-wrapper {
        padding-top: 30px;
    }
}