nav {
    color: #fff;
    position: absolute;
    top: 0;
    z-index: 998;
    width: 100%;
    ul {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 25px 0;
        @include medium {
            padding: 50px 0;
            gap: 50px;
        }
        li {
            cursor: pointer;
            user-select: none;
            font-size: 14px;
            @include medium {
                font-size: 16px;
            }
            font-weight: 600;
            
        }
    }
}