nav {
    color: #fff;
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    ul {
        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 25px 0;
        li {
            cursor: pointer;
            user-select: none;
            font-size: 14px;
            font-weight: 600;
            
        }
    }
}